<div class="footer__wrapper">
  <section class="footer__about">
    <h3 class="footer__header">
      О проекте
    </h3>
    <p class="footer__p">
      Данное веб-приложение является некоммерческим клоном сайта “mintrud.orb.ru” и выполнено в рамках дипломной работы.
      При разработке использовались открытые инструменты разработки: язык программирования JavaScript, его надстройка
      TypeScript, фреймворк для веб-разработки Angular, дизайн-макет Figma, планировщик задач Jira, бесплатная версия пакета
      иконок FontAwesome, компилятор стилей SASS, система контроля версий Git и удалённого контроля GitHub.
    </p>
    <span class="footer__line"></span>
  </section>
  <section class="footer__sources">
    <h3 class="footer__header">
      Источники
    </h3>
    <p class="footer__p">
      Сайт министерства труда и занятости Оренбургской области:
      <a class="footer__link" href="https://mintrud.orb.ru/">
       mintrud.orb.ru 
      </a>
    </p>
    <p class="footer__p">
      Исходный код проекта:
      <a class="footer__link" href="https://github.com/skljor/Diploma-project">
        github.com/skljor/Diploma-project
      </a>
    </p>
    <span class="footer__line"></span>
  </section>
  <section class="footer__author">
    <h3 class="footer__header">
      Выполнил
    </h3>
    <p class="footer__p">
      Киченко Николай
    </p>
    <p class="footer__p">
      2023
    </p>
  </section>
</div>
