.about__managment-list {
    display: flex;
    justify-content: space-around;
}

.about__edge-indentation {
    font-size: 20px;
    font-weight: bold;
}

.about__non-marker-list {
    list-style-type: none;
}

.about__job-title-center {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

ol {
    line-height: 150%;
}

.about__full-name {
    display: flex;
    justify-content: center;
}

.about__managment {
    font-weight: bold;
    font-size: 20px;
}