<h2 class="about__org-name main-container__header">О ГБУ "МИХЦ МТиЗН"</h2>
<p class="about__managment main__header">Руководство</p>
<div class="about__managment-list">
    <div class="about__managment-cell">
        <img src="/assets/images/not-found.jpg" alt="Director-photo">
        <div class="about__job-title-center">
            Директор
        </div>
        <div class="about__full-name">
            Киченко Анастасия Юрьевна
        </div>
        <div class="about__number">
            тел.: 13-13-13
        </div>    
    </div>
    <div class="about__managment-cell">
        <img src="/assets/images/not-found.jpg" alt="Glav-buh-photo">
        <div class="about__job-title-center">
            Главный бухгалтер
        </div>
        <div class="about__full-name">
            Жанназарова Римма Мубаряковна
        </div>
        <div class="about__number">
            тел.: 14-37-88
        </div>
    </div>
</div>
<div class="about__subjects">
    <p class="about__edge-indentation">
        Предмет и цель деятельности Учреждения:
    </p>
    <ol>
        <li>
            Оказание услуг по информационно – хозяйственному обеспечению деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Безопасное и бесперебойное автотранспортное обеспечение деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение надлежащего использования недвижимого имущества, используемого для оказания государственных услуг в сфере содействия занятости населения и в сфере охраны труда, а также создание нормальных условий для работы Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение размещения работодателями информации о потребности в работниках и об условиях их привлечения , о наличии свободных рабочих мест и вакантных должностей.
        </li>
    </ol>
</div>
<div class="about__ordeals">
    <p class="about__edge-indentation">
        Учреждение может осуществлять предпринимательскую и иную приносящую доход деятельность такую как:
    </p>
    <ol>
        <li>
            Полиграфическая деятельность и предоставление услуг в этой области;
        </li>
        <li>
            Организация перевозок грузов;
        </li>
        <li>
            Предоставление в аренду помещений;
        </li>
        <li>
            Предоставление в арендуавтомобилей;
        </li>
        <li>
            Деятельность по использованию баз данных и информационных ресурсов;
        </li>
        <li>
            Техническое обслуживание и ремонт офисных машин и вычислительной техники;
        </li>
        <li>
            Чистка и уборка производственных и жилых помещений, оборудования и транспортных средств;
        </li>
        <li>
            Пассажирские перевозки.
        </li>
    </ol>
</div>
<div class="about__contacts">
    <p class="about__edge-indentation">
        Контактная информация:
    </p>
    <ul class="about__non-marker-list">
        <li>
            адрес: 460000, г. Оренбург ул. Пушкинская д. 14 (3 этаж),
        </li>
        <li>
            тел.:   13-13-13,
        </li>
        <li>
            e-mail: <a href="mailto:gbu_mihc@mail.orb.ru">gbu_mihc@mail.orb.ru</a>
        </li>
    </ul>
</div>