@import '../../sass/colors.scss';

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-blue;
  box-sizing: border-box;
  padding: 10px 50px;
  color: $white-m;

  .footer__header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 6px 0px 0px;
    color: $white-l;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .footer__p {
    font-size: 16px;
    text-align: center;
    max-width: 900px;
    margin: 8px 0px;
    padding: 0px;
    line-height: 125%;
    @media (min-width: 769px) and (max-width: 980px) {
      max-width: 620px;
    }
    @media (max-width: 768px) {
      max-width: 86vw;
      font-size: 14px;
    }
  }

  .footer__link {
    text-decoration: none;
    color: $gray;
    &:hover {
      color: $white-s;
    }
  }

  .footer__line {
    display: inline-block;
    height: 2px;
    border-radius: 2px;
    width: 900px;
    margin: 0px;
    padding: 0px;
    display: flex;
    @media (min-width: 768px) and (max-width: 980px) {
      margin: 0px auto;
      width: 620px;
    }
    @media (max-width: 768px) {
      width: 86vw;
    }
  }

  .footer__line {
    background-color: $white-s;
    opacity: 30%;
    height: 2px;
  }
}