$dark-blue: #192655;
$light-blue: #3876BF;
$white-xl: #FFFFFF;
$white-l: #F4F4F4;
$white-m: #EEEEEE;
$white-s: #E4E4E4;
$black-xl: #000000;
$black-l: #0D0D0D;
$black-m: #1A1A1A;
$black-s: #2E2E2E;
$gray: #8E8E8E;
$white-s-opaciyless: rgba(228, 228, 228, 0.3);