$dark-blue: #101D49;
$dark-blue-s: rgb(37, 54, 104);
$blue-light: #5578EF;
$blue-light-s: #3b62e0;
$white-s: rgb(236, 236, 236);
$white-l: rgb(244, 244, 244);
$white-l-transparent: rgba(244, 244, 244, 0.4);
$gray: #8E8E8E;
$gray-s: #E2E2E4;
$black-s: #3C3C3C;
$black-l: #1E1E1E;
$black-m: #242424;