@import '../../sass/colors.scss';

.page-suborgs__wrapper {

  .suborg__name {
    font-weight: 400;
    font-size: 18px;
    color: $black-m;
    margin: 0px 0px 10px;
  }

  .suborg__bellow {
    color: $light-blue;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;

    fa-icon, .suborg__placeholder {
      color: $black-m;
    }
  }


  .main-container__divideLine {
    margin: 15px;
  }


  .table__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
  }

  .table__pag-btn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: $light-blue;
    color: $white-s;
    transition: background-color 100ms;

    &:hover {
      cursor: pointer;
      background-color: $dark-blue;
      color: $white-l;
    }

    &.selected {
      background-color: $dark-blue;
      color: white;
      color: $white-l;

      &:hover {
        cursor: default;
        background-color: $dark-blue
      }
      
    }

  }

  .table__nothing-found {
    padding: 100px;
    text-align: center;
    font-size: 20px;
    color: $black-s;
    &.hidden {
      display: none;
    }
  }
}