@import '../../sass/colors.scss';

.page-suborgs__wrapper {

  .page-suborgs__search-form {
    display: flex;
    gap: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
    justify-content: center;
    align-items: flex-end;
    * {
      box-sizing: border-box;
    }
  }

  .page-suborgs__input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $gray;
    font-size: 18px;
  }

  .page-suborgs__searchField {
    outline: none;
    border: 1px solid $gray;
    height: 38px;
    color: $black-s;
    font-size: 16px;
    width: 260px;
  }

  .page-suborgs__searchSubmit {
    height: 38px;
    background-color: $blue-light;
    color: $white-s;
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background-color: $blue-light-s;
    }

  }

  .page-suborgs__searchReset {
    border: solid 2px $black-s;
    background-color: white;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: $black-s;

    &:hover {
      cursor: pointer;
      color: $black-l;
      border-color: $black-l;
    }
  }

  .suborg__name {
    font-weight: 400;
    font-size: 18px;
    color: $black-l;
    margin: 0px 0px 10px;
  }

  .suborg__bellow {
    color: $dark-blue-s;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
  }

  fa-icon,
  .suborg__placeholder {
    color: $black-m;
  }

  .main-container__divideLine {
    margin: 15px;
  }


  .table__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
  }

  .table__pag-btn {
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: $white-s;
    color: $black-s;

    &:hover {
      cursor: pointer;
      background-color: $gray-s;
    }

    &.selected {
      background-color: $dark-blue;
      color: white;

      &:hover {
        cursor: default;
        background-color: $dark-blue
      }
      
    }

  }

  .table__nothing-found {
    padding: 100px;
    text-align: center;
    font-size: 20px;
    color: $black-s;
    &.hidden {
      display: none;
    }
  }
}