<h1>О ГБУ "МИХЦ МТиЗН"</h1>
<p>Руководство</p>
<table>
    <tbody>
        <tr>
            <td class="managment-cell">
                <div class="managment-center">
                    <img src="/assets/images/not-found.jpg" alt="Director-photo">
                    <div>
                        <span>
                            <strong>Директор</strong>
                        </span>
                    </div>
                    <div>
                        <span>
                            Киченко Анастасия Юрьевна
                        </span>
                    </div>
                    <div>
                        <span>
                            тел.: 13-13-13
                        </span>
                    </div>    
                </div>
            </td>
            <td> </td>
            <td class="managment-cell">
                <div class="managment-center">
                    <img src="/assets/images/not-found.jpg" alt="Glav-buh-photo">
                    <div>
                        <span>
                            <strong>Главный бухгалтер</strong>
                        </span>
                    </div>
                    <div>
                        <span>
                            Жанназарова Римма Мубаряковна
                        </span>
                    </div>
                    <div>
                        <span>
                            тел.: 14-37-88
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <p>
        <strong>Предмет и цель деятельности Учреждения:</strong>
    </p>
    <ol>
        <li>
            Оказание услуг по информационно – хозяйственному обеспечению деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Безопасное и бесперебойное автотранспортное обеспечение деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение надлежащего использования недвижимого имущества, используемого для оказания государственных услуг в сфере содействия занятости населения и в сфере охраны труда, а также создание нормальных условий для работы Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение размещения работодателями информации о потребности в работниках и об условиях их привлечения , о наличии свободных рабочих мест и вакантных должностей.
        </li>
    </ol>
</div>
<div>
    <p>
        <strong>Контактная информация:</strong>
    </p>
    <ul class="non-marker-list">
        <li>
            адрес: 460000, г. Оренбург ул. Пушкинская д. 14 (3 этаж),
        </li>
        <li>
            тел.:   13-13-13,
        </li>
        <li>
            e-mail: gbu_mihc@mail.orb.ru.
        </li>
    </ul>
</div>