<h2>О ГБУ "МИХЦ МТиЗН"</h2>
<p class="red-line">Руководство</p>
<div class="managment-center">
    <div>
        <img src="/assets/images/not-found.jpg" alt="Director-photo">
        <div class="bold-font job-title-center">
            <span>
                Директор
            </span>
        </div>
        <div class="job-title-center">
            <span>
                Киченко Анастасия Юрьевна
            </span>
        </div>
        <div class="job-title-center">
            <span>
                тел.: 13-13-13
            </span>
        </div>    
    </div>
    <div>
        <img src="/assets/images/not-found.jpg" alt="Glav-buh-photo">
        <div>
            <span class="bold-font job-title-center">
                Главный бухгалтер
            </span>
        </div>
        <div class="job-title-center">
            <span>
                Жанназарова Римма Мубаряковна
            </span>
        </div>
        <div class="job-title-center">
            <span>
                тел.: 14-37-88
            </span>
        </div>
    </div>
</div>
<div>
    <p class="red-line">
        Предмет и цель деятельности Учреждения:
    </p>
    <ol>
        <li>
            Оказание услуг по информационно – хозяйственному обеспечению деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Безопасное и бесперебойное автотранспортное обеспечение деятельности Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение надлежащего использования недвижимого имущества, используемого для оказания государственных услуг в сфере содействия занятости населения и в сфере охраны труда, а также создание нормальных условий для работы Учредителя и подведомственных Учредителю государственных казенных учреждений;
        </li>
        <li>
            Обеспечение размещения работодателями информации о потребности в работниках и об условиях их привлечения , о наличии свободных рабочих мест и вакантных должностей.
        </li>
    </ol>
</div>
<div>
    <p class="red-line">
        Учреждение может осуществлять предпринимательскую и иную приносящую доход деятельность такую как:
    </p>
    <ol>
        <li>
            Полиграфическая деятельность и предоставление услуг в этой области;
        </li>
        <li>
            Организация перевозок грузов;
        </li>
        <li>
            Предоставление в аренду помещений;
        </li>
        <li>
            Предоставление в арендуавтомобилей;
        </li>
        <li>
            Деятельность по использованию баз данных и информационных ресурсов;
        </li>
        <li>
            Техническое обслуживание и ремонт офисных машин и вычислительной техники;
        </li>
        <li>
            Чистка и уборка производственных и жилых помещений, оборудования и транспортных средств;
        </li>
        <li>
            Пассажирские перевозки.
        </li>
    </ol>
</div>
<div>
    <p class="red-line">
        Контактная информация:
    </p>
    <ul class="non-marker-list">
        <li>
            адрес: 460000, г. Оренбург ул. Пушкинская д. 14 (3 этаж),
        </li>
        <li>
            тел.:   13-13-13,
        </li>
        <li>
            e-mail: <a href="mailto:gbu_mihc@mail.orb.ru">gbu_mihc@mail.orb.ru</a>
        </li>
    </ul>
</div>