<app-loading-indicator *ngIf="!loaded"></app-loading-indicator>
<div class="page-employ__wrapper" *ngIf="loaded">
  <h2 class="page-employ__header main-container__header">Сотрудник</h2>
  <div [class]="employee?.employeeID ? 'page-employ__not-found hidden' : 'page-employ__not-found'">
    Проблема с загрузкой данных. Подождите или попробуйте найти другого сотрудника.
  </div>
  <div [class]="employee?.employeeID  ? 'page-employ__info' : 'page-employ__info hidden' ">
    <div class="page-employ__photo">
      <fa-icon [icon]="employIcon" class="page-employ__icon"></fa-icon>
    </div>
    <h3 class="page-employ__name">
      {{ getFullName() }}
    </h3>
    <div class="page-employ__table">
      <div class="page-employ__tr">
        <div class="page-employ__label">Подразделение</div>
        <div class="page-employ__data">{{ getStructureName() }}</div>
      </div>
      <div class="page-employ__tr">
        <div class="page-employ__label">Должность</div>
        <div class="page-employ__data">{{ employee?.jobTitle }}</div>
      </div>
      <div class="page-employ__tr">
        <div class="page-employ__label">Почта</div>
        <div class="page-employ__data">{{ employee?.mail }}</div>
      </div>
      <div class="page-employ__tr">
        <div class="page-employ__label">Телефон</div>
        <div class="page-employ__data">{{ employee?.phone }}</div>
      </div>
    </div>
  </div>
</div>