<div class="page-structura__wrapper">
  <h2 class="page-structura__header main-container__header">Структура</h2>
  <div class="page-structura__map">
    <div class="map__header">
      <button class="map__structure-all" (click)="selectAll()">
        Министерство труда и занятости населения Оренбургской области
      </button>
    </div>
    <div class="map__content">
      <div class="map__vertical-line"></div>
      <div class="map__items" #mapItems>
        <div *ngFor="let structure of structures" [class]="searchParams.structureCode === structure.code ? 'map__item selected' : 'map__item' ">
          <span class="map__horizontal-line"></span>
          <button type="button" class="map__structure-name" (click)="selectStructure(structure.code)">{{ structure.title }}</button>
        </div>
      </div>
    </div>
  </div>
  <app-search-form firstLabel="Фамилия" secondLabel="Должность" (searchSubmitEvent)="searchSubmit($event.firstInputValue, $event.secondInputValue)" (resetEvent)="selectAll()"></app-search-form>
  <div class="page-structura__searchTable">
    <div class="table__head">
      <span class="table__header">СОТРУДНИК</span>
      <span class="table__header">ПОДРАЗДЕЛЕНИЕ</span>
      <span class="table__header">ДОЛЖНОСТЬ</span>
      <span class="table__header">КОНТАКТНАЯ ИНФОРМАЦИЯ</span>
    </div>
    <div class="table__content">
      <div [class]=" filteredEmployees && filteredEmployees.length > 0 ? 'table__nothing-found hidden' : 'table__nothing-found' ">
        Ничего не найдено
      </div>
      <div class="table__item" *ngFor="let employee of getPagedEmployes()">
        <div class="table__employ">
          <a class="employ__meet" [routerLink]="'/employee/' + employee.employeeID ">
            <fa-icon [icon]="employIcon" class="employ__icon"></fa-icon>
            {{ employee.lastName + ' ' + employee.firstName + ' ' + employee.middleName }}
          </a>
          <button class="employ__structure" type="button" (click)="selectStructure(employee.structureCode)">
            {{ getStructureNameByCode(employee.structureCode) }}
          </button>
          <div class="employ__job-title">
            {{ employee.jobTitle }}
          </div>
          <div class="employ__contacts">
            {{ employee.mail }}
            <br>
            {{ employee.phone }}
          </div>
        </div>
        <div class="main-container__divideLine table__divideLine"></div>
      </div>
    </div>
    <div [class]="filteredEmployees && filteredEmployees.length > 0 ? 'table__pagination' : 'table__pagination hidden' ">
      <button type="button" *ngFor="let num of getPagCounts()" [class]=" selectedPagPage === num ? 'table__pag-btn selected' : 'table__pag-btn' " (click)="handlePagClick(num)">
        {{ num }}
      </button>
    </div>
  </div>
</div>