@import '../../sass/colors.scss';

.map__structure-all {
  background-color: $dark-blue;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  border-radius: 8px;
  border: none;
  width: 100%;
  text-align: start;
  color: $white-l;
  &:hover{
    cursor: pointer;
    background-color: $light-blue;
    transition: background-color 150ms;
  };
  @media (min-width:769px) and (max-width:1200px) {
    font-size: 20px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
.map__content {
  display: flex;
  margin-left: 50px;
  @media (min-width: 769px) and (max-width:1200px) {
    margin-left: 25px;
  }
  @media (max-width: 768px) {
    margin-left: 10px;
  }
}

.map__vertical-line,
.map__horizontal-line {
  border-radius: 2px;
  background-color: $dark-blue;
  opacity: 0.8;
}
.map__vertical-line {
  width: 2px;
  @media (max-width:910px) {
    display: none;
  }
}

.map__structure-name {
  text-align: start;
  border: none;
  outline: none;
  font-size: 19px;
  font-weight: 700;
  color: $dark-blue;
  background-color: $white-l;
  box-sizing: border-box;
  transition: color 100ms;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 769px) and (max-width:1200px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.map__item {
  position: relative;
  top: 13px;
  right: 2px;
  height: 26px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  &:hover {
    cursor: pointer;
    .map__structure-name {
      color: $light-blue;
    }
  }
  &.selected {
    .map__structure-name {
      border: solid 2px $dark-blue;
    }
  }
}
.map__horizontal-line {
  display: inline-block;
  height: 2px;
  width: 68px;
  @media (min-width:910px) and (max-width:1200px) {
    width: 34px;
  }
  @media (max-width:910px) {
    display: none;
  }
}
.page-structura__horizontal-line {
  margin: 30px 0px;
}
.page-structura__searchTable {
  margin-bottom: 30px;
}
.table__head,
.table__employ {
  display: grid;
  grid-template-columns: 5fr 6fr 4fr 5fr;
  @media (max-width: 600px) {
    grid-template-columns: 5fr 6fr 4fr;
  }
}
.table__head {
  grid-auto-rows: 50px;
  font-size: 16px;
  font-weight: 500;
  color: $black-s;
  @media (min-width: 560px) and (max-width:1100px) {
    font-size: 14px;
    grid-auto-rows: 80px
  }
  @media (max-width: 559px) {
    font-size: 12px;
  }
}
.table__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $white-m;
  text-align: center;
  box-sizing: border-box;
  padding: 0px 10px;
  &:nth-child(2),
  &:nth-child(4) {
    background-color: $white-s;
  }
  @media (max-width: 600px) {
    &:nth-child(4) {
      display: none;
    }
  }
}
.table__item {
  padding: 15px 0px;
}
.table__employ {
  * {
    box-sizing: border-box;
  }
  justify-items: center;
  align-items: center ;
  column-gap: 2px;
  background-color: $white-s;
  .employ__meet,
  .employ__structure,
  .employ__job-title,
  .employ__contacts {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $white-l;
    text-align: center;
    padding: 0px 10px;
  }
  .employ__meet {
    font-size: 18px;
    color:  $black-m;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  .employ__icon {
    font-size: 50px;
    color:  $black-m;
    @media (max-width: 768px) {
      font-size: 40px;
    }
  }
  .employ__structure {
    color: $light-blue;
    font-size: 14px;
    padding: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  .employ__job-title {
    color: $black-m;
  }
  .employ__contacts {
    color: $light-blue;
    line-height: 140%;
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
.table__divideLine {
  margin-top: 15px;
}
.table__nothing-found {
  padding: 100px;
  text-align: center;
  font-size: 20px;
  color: $black-s;
  &.hidden {
    display: none;
  }
}
.table__pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  &.hidden {
    display: none;
  }
}
.table__pag-btn {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
  background-color: $light-blue;
  color: $white-s;
  transition: background-color 100ms;
  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
    color: $white-l;
  }
  &.selected {
    background-color: $dark-blue;
    color: white-l;
    &:hover {
      cursor: default;
      background-color: $dark-blue
    }
    
  }
}