@import '../../sass/colors.scss';

.search-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    margin-top: 35px;
    margin-bottom: 35px;
    * {
      box-sizing: border-box;
    }
    @media (max-width: 810px) {
      flex-direction: column;
    }
  }

  .search-form__input-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $gray;
    font-size: 18px;
    @media (max-width: 810px) {
      width: 100%;
    }
  }

  .search-form__searchField {
    outline: none;
    border: 1px solid $white-s;
    height: 38px;
    background-color: $white-m;
    font-size: 16px;
    width: 260px;
    padding: 0 10px;
    color: $black-s;
    @media (max-width: 810px) {
      width: 100%;
    }
  }

  .search-form__controls {
    display: flex;
    gap: 20px;
    @media (max-width: 810px) {
      margin: 0px auto;
    }
  }

  .search-form__searchSubmit {
    height: 38px;
    color: $white-l;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: $dark-blue;
    transition: background-color 150ms;

    &:hover {
      cursor: pointer;
      background-color: $light-blue;

    }

  }

  .search-form__searchReset {
    border: solid 2px $gray;
    background-color: $white-l;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: $gray;

    &:hover {
      cursor: pointer;
      color: $black-s;
      border-color: $black-s;
    }
  }