@import '../../sass/colors.scss';

* {
  box-sizing: border-box;
}
.nav-bar__wrapper {
  color: $black-s;
}

.nav-bar__top {
  display: flex;
  box-sizing: border-box;
  height: 70px;
  align-items: center;
  background-color: $white-s;
  padding: 0px 25px;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.nav-bar__middle {
  overflow: hidden;
  width: 84%;
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 9%;
    background: linear-gradient(to right, $white-s-transparent, $white-s);
    height: 30px;
    width: 25px;
    opacity: 0.5;
  }
}

.nav-bar__bottom {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.nav-bar__left,
.nav-bar__right {
  position: relative;
}

.nav-bar__slider-btn,
.nav-bar__expand-btn {
  transition: background-color 200ms;
}

.nav-bar__slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 2px $black-s;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background-color: $white-s;
  opacity: 0.5;

  &.active-btn {
    border-color: $blue-light;
    color: $blue-light;
    opacity: 1;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $blue-light;
    }
  }
}

.nav-bar__icon {
  font-size: 16px;
}

.nav-bar__list {
  display: flex;
  gap: 20px;
  width: max-content;
}

.nav-bar__expand-btn {
  position: relative;
  border: none;
  background-color: $white-s;
  color: $blue-light;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 4px;
  bottom: 5px;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: $blue-light;
  }
}