@import '../../sass/colors.scss';

.nav-bar__item {
  text-decoration: none;
  color: $white-m;
  padding: 6px 8px;
  background-color: $light-blue;
  border-radius: 6px;
  transition: background-color 150ms;
  transform: scale(1);
  font-weight: 500;
  &.selected {
    color: $white-l;
    background-color: $dark-blue;
    transform-origin: center;
    transform: scale(1.5);
  }

  &:hover {
    background-color: $dark-blue;
    transform: scale3D(1.2);
  }
}
