@import '../../sass/colors.scss';

.nav-bar__item {
  text-decoration: none;
  color: $black-s;
  padding: 4px 8px;
  &.selected {
    color: $blue-light;
    border: solid 1px $blue-light;
    border-radius: 8px;
  }
}
