@import '../../sass/colors.scss';

* {
  box-sizing: border-box;
}

.nav-bar__top {
  display: flex;
  box-sizing: border-box;
  height: 70px;
  align-items: center;
  background-color: $white-s;
  padding: 0px 25px;
  position: relative;
  z-index: 1;
  justify-content: center;
}

.nav-bar__middle {
  overflow: hidden;
  width: 84%;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 17px;
    height: 36px;
    width: 18px;
  };
  &::after {
    right: 9%;
    background: linear-gradient(to right, rgba(228, 228, 228, 0.08), rgba(228, 228, 228, 1));
  };
  &::before {
    z-index: 1;
    left: 9%;
    background: linear-gradient(to left, rgba(228, 228, 228, 0.1), rgba(228, 228, 228, 1));
  }
}

.nav-bar__bottom {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.nav-bar__left,
.nav-bar__right {
  position: relative;
  z-index: 2;
}


.nav-bar__slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  color: $white-s;
  background-color: $light-blue;
  opacity: 0.5;
  transition: background-color 150ms;

  &.active-btn {
    color: $white-l;
    opacity: 1;

    &:hover {
      cursor: pointer;
      background-color: $dark-blue;
    }
  }
}

.nav-bar__icon {
  font-size: 16px;
  position: relative;
}

.nav-bar__list {
  display: flex;
  gap: 20px;
  width: max-content;
  position: relative;
  transform: translateX(0px);
  transition: transform 200ms;
  padding: 10px 15px;
}

