@import '../../sass/colors.scss';

.top-header__wrapper {
  display: flex;
  justify-content: center;
  height: 100px;
  box-sizing: border-box;
  align-items: center;
  gap: 25px;
  img {
    width: 52px;
    height: 52px;
  }
  a {
    text-decoration: none;
    color: $dark-blue;
  }
  h1 {
    font-weight: 700;
    font-size: 20px;
  }
}