@import '../../sass/colors.scss';

.page404__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 100px 0px;
  h2 {
    color: $black-l;
    font-weight: 500;
  }
}